:root{
    --redLogo: #E50914;
    --BlackBackgroung: #141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*mantém tamanho*/ 
}
/* MENU */

body{
    background-color: var(--BlackBackgroung);
    font-family: Arial, Helvetica, sans-serif; /* Mudar para Gothan depois### */
    color: white; /* Trocar */
}

header{
    height: 87px; /* RETIRAR CASO NÃO REDIMENSIONE*/
    background-color: var(--BlackBackgroung);
    overflow: hidden;
    position: fixed;
    width: 100%;
    
}

header nav a{
    text-decoration: none;
    color: #B7B7B7;
    margin-right: 15px;
    font-size: 18px;
}

header nav{
    margin-right: 25px;
    margin-top: 18px;
}

header nav a:hover{
    color: #ffffff;
}

.logo{
    margin-left: 50px;
    margin-top: 18px;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between; /* Movo os elementos do container */
    
}


/* Filme principal (Card) */
.FilmePrincipal{
    font-size: 17px;
    background: linear-gradient(rgba(0,0,0, .50), rgba(0,0,0, .50) 100%) ,url(/img/fundo_futebol.jpg);

    height: 550px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    margin-bottom: 40px;
}

.FilmePrincipal .descricao{
    margin-bottom: 60px;
    margin-top: 10px;

}

.titulo{
    margin-top: 15%;
    font-size: 38px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

.button{
    background-color: rgba(5, 5, 5, .50);
    border: none;
    color: white;

    padding: 15px 30px;
    margin-right: 18px;
    font-size: 17px;

    cursor: pointer;

    transition: .3s ease all;

    
}

.button:hover{
    background-color: rgb(255, 255, 255);
    color: black;
    transition: 0.3s;
}

.button i{
    margin-right: 8px;
    font-size: 18px;
}


.FilmePrincipal .container{
    margin-left: 80px;
    width: 70%;
}


/* Carrousel */

.titulo_carrousel .container{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
    font-size: 20px;
}

.box_filme{
    height: 100%;
    width: 100%;
    display: block;
}

.carrousel_filmes{
    margin-top: 15px;
}

/* Footer */

.footer_page .social_container{
    margin-top: 60px;

    display: flex;
    align-items: center;
    margin-left: 400px;

    font-size: 30px;
    margin-bottom: 20px;

}

.social_container i{
    padding-left: 55px;
    
}

.social_container a{
    color: #fff;
}

.social_container a:hover{
    color: #b6b6b6;
    transition: 0.3s;
}

.footer_page .container{
    display: flex;
    align-items: center;
    margin-left: 380px;
    margin-bottom: 150px;
}

.info_links{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.info_links a{
    margin-top: 30px;
    text-decoration: none;
    color: #616161;
}

.info_links a:hover{
    color: #9f9f9f;
}
